@use '../helpers/' as *;

.border-grid {
    display: grid;
    --columns: 1;
    
    @include tablet-above {
        grid-template-columns: repeat(3,1fr);
    }

    &--2-cols-alt {
        grid-template-columns: repeat(2,1fr);
    }

    &__item {
        padding-block: fluid-to-laptop(60,80);
        position: relative;
        @include laptop {
            padding-block: fluid-to-laptop(40,60);
        }

        @include tablet-above {

            &:not(:nth-child(3n)){
                border-right: var(--border);
                padding-right: fluid-to-laptop(40,50);
            }
            &:not(:nth-child(3n + 1 )){
                padding-left: fluid-to-laptop(40,50);
            }
            &:nth-child(3n-1)::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: calc(50% - 50vw);
                right: calc(50% - 50vw);
                border-bottom: var(--border);
            }
        }
        @include mobile {
            &:not(:last-child){
                border-bottom: var(--border);
            }
        }
    }
}