@use '../helpers/' as *;

.card {
    @include tablet-above {
        display: grid;
        grid-template-columns: 37.5% auto;
    }

    &__body {
        padding: fluid-to-laptop(60,80);
        padding-right: 0 ;
        
        @include tablet {
            padding: rem(30) rem(16);
        }
        @include laptop-above {
            border-left: var(--border);
        }
        @include mobile {
            border-top: var(--border);
            padding-inline: 0;
        }
    }

    &__preview {
        display: flex;
        flex-direction: column;
        row-gap: fluid-to-laptop(40,60);
        
        @include laptop {
            row-gap: fluid(20,40);
        }
        @include tablet-above {
            align-self: center;
            padding-right: fluid-to-laptop(60,80);
        }
        @include tablet {
            padding-block: rem(50);
        }

        &-main {
            display: flex;
            flex-direction: column;
            
            row-gap: fluid-to-laptop(40,50);
            @include laptop {
                row-gap: fluid(20,40);
            }
        }

        &-title {
            margin-bottom: fluid-to-laptop(10,16);
            font-weight: 600;
            @include laptop {
                margin-bottom: fluid(6,10);
            }

        }
        &-icon {
            width: fluid-to-laptop(60,80);
            @include laptop {
                width: fluid(50,60);
            }
        }
        &-description {
            color: var(--color-gray-60);
            font-weight: 400;
        }

    }
    &__grid {
        display: grid;
        @include tablet-above {
            grid-template-columns: repeat(2,1fr);
            gap: fluid-to-laptop(20,30);
        }
        @include laptop {
            gap: fluid-to-laptop(10,20);
        }

        &--2-cols-alt {
            @include mobile-above {
                grid-template-columns: auto 1fr;
                align-items: center;
            }
            row-gap: fluid-to-laptop(24,30);
            column-gap: fluid-to-laptop(16,20);
            @include laptop {
                row-gap: fluid(16,24);
            }
        }
    }

    &__cell-list {
        display: contents;
    }

    &__cell {
        &-title {
            font-weight: 500;
            &:not(:last-child){
                margin-bottom: fluid-to-laptop(16,20);
            }
            @include laptop {
                &:not(:last-child){
                    margin-bottom: fluid(4,16);
                }
            }
        }

        &-description {
            color: var(--color-gray-60);
            &--white {
                color: var(--color-white);
            }
        }

        &--wide {
            grid-column: 1 / -1;
        }

        &-item {
            display: grid;
            grid-template-columns: minmax(0, 1fr) auto;
            grid-template-rows: 1fr auto;
            align-self: stretch;
            grid-template-areas:
                'content link'
                'description link';
            &.tile {
                padding: fluid-to-laptop(24,30);
                @include laptop {
                    padding: fluid(20,24);
                }
            }
        }
        &-subtitle {
            grid-area: content;
        }
        &-description {
            grid-area: description;
        }
        &-link {
            grid-area: link;
        }

        &-image {
            border-radius: fluid-to-laptop(10,12);
            width: 100%;
            height: fluid-to-laptop(275,332);
            object-fit: cover;
            @include laptop {
                height: fluid(169,275);
            }
        }

 
    }
}