@use '../helpers/' as *;

.hero-alt {
    padding-top: fluid-to-laptop(80,130);
    padding-bottom: fluid-to-laptop(100,150);

    &__header {
        &-inner {
            position: relative;;
        }
    }

    @include mobile-above {
        &__title,
        &__description {
            display: inline;
        }
        &__description {
            position: absolute;
            top: 60%;
            left: 24%;
            max-width: 65%;
        }
    }
    
    @include mobile {
        padding-block: rem(40);
        &__title {
            &:not(:last-child){
                margin-bottom: rem(14);
            }
        }
    }
}