@use '../helpers/' as *;

.metrics {
    --gridCols: 3;
    &__list {
        display: grid;
        grid-template-columns: repeat(var(--gridCols),1fr);
    }
    &__item {
        display: flex;
        flex-direction: column-reverse;
        row-gap: fluid-to-laptop(2,10);
        padding: fluid-to-laptop(30,50);
        padding-right: fluid-to-laptop(40,50);
        &:first-child {
            padding-left: 0;
        }
        &:not(:last-child){
            border-right: var(--border);
        }
        &:last-child {
            padding-right: 0;
        }
        @include laptop {
            padding: fluid(20,30);
            justify-content: start;
            &:first-child {
                padding-left: 0;
            }
        }
    }
    &__value {
        font-weight: 600;
        font-family: var(--font-family-base);
    }

    &__plus {
        color: var(--color-accent);
    }


    &--cols-4 {
       --gridCols: 4;
       
       @include tablet {
        --gridCols: 2;
        &.metrics {
            padding-inline: 0;
        }
       }
       .metrics {
        &__item {
        
            @include flex-center;
            padding-block: fluid-to-laptop(50,80);
            @include laptop-above {
                &:not(:last-child){
                    padding-right: fluid-to-laptop(50,80);
                }
                &:not(:first-child){
                    padding-left: fluid-to-laptop(50,80);
                }
            }


            @include laptop {
                border-bottom: var(--border);
                padding-block: fluid(20,50);
                &:not(:nth-child(even)){
                    padding-right: fluid(20,50);
                    padding-left: var(--container-padding-x);
                }
                &:not(:nth-child(odd)){
                    padding-left: fluid(20,50);
                    padding-right: var(--container-padding-x);
                    @include tablet {
                        border-right: none;
                    }
                }
            }
            @include tablet {
                &:nth-last-child(-n + 2){
                    border-bottom: none;
                }
            }
        }
        &__value {
            font-size: fluid-to-laptop(40,60);
            @include laptop {
                font-size: fluid(24,40);
            }
        }
       } 
    }
}