@use '../helpers/' as *;

.rating-view {
    @include flex-center(true);
    border: var(--border);
    background-color: var(--color-dark);
    padding: fluid-to-laptop(8,10) fluid-to-laptop(12,16);
    column-gap: fluid-to-laptop(4,7);
    border-radius: rem(100);

    &__star {
        --size: #{rem(24)};
        @include square(var(--size));
        background: url('/icons/star.svg') center/contain no-repeat;
        &.is-active {
            background-image: url('/icons/star-yellow.svg');
        }
        @include laptop {
            --size: #{rem(20)};
        }
    }
}