@use '../helpers/' as *;

.report-card {
    display: grid;
    gap: fluid-to-laptop(24,30);
    grid-template-rows: auto 1fr;
    height: 100%;
    @include laptop {
        row-gap: fluid(20,24);
    }
    @include tablet {
        grid-template-columns: auto 1fr;
    }
    @include mobile {
        grid-template-columns: auto;
    }
    &__image {
        width: 100%;
        object-fit: cover;
        border-radius: rem(12);
        @include laptop {
            height: fluid(223,290);
        }
    }

    &__main {
        display: grid;
        row-gap: fluid-to-laptop(10,14);
        @include tablet {
            align-content: space-between
        }
        
    }

    &__actions {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: fluid-to-laptop(10,20);
    }
}