@use '../helpers/' as *;

.section {
    &__header{
        background-color: var(--color-dark-10);
        border-bottom: var(--border);
        &-inner {
            padding-block: fluid-to-laptop(80,120);
            @include laptop {
                padding-block: fluid(40,80);
            }
            &:has(.section__link){
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                @include mobile {
                    grid-template-columns: 1fr;
                    row-gap: rem(30);
                }
            }
        }
    }

    &__subtitle {
        margin-bottom: fluid-to-laptop(10,16);
    }
}