@use '../helpers/' as *;

.section {
    &__header{
        background-color: var(--color-dark-10);
        border-bottom: var(--border);
        &-inner {
            padding-block: fluid-to-laptop(80,120);
            @include laptop {
                padding-block: fluid(40,80);
            }
            &:has(.section__link){
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                @include mobile {
                    grid-template-columns: 1fr;
                    row-gap: rem(30);
                }
            }
            &:has(.section__logo) {
                display: flex;
                column-gap: fluid-to-laptop(60,80);
                padding-bottom: fluid-to-laptop(50,100);
                @include mobile {
                  column-gap: fluid(20,60);  
                  padding-bottom: fluid(40,50);
                  flex-wrap: wrap;
                  align-items: flex-start;
                }
            }
        }

        &-info {
            @include mobile-s {
                &:has(#about-title){
                    display: contents;
                    .tag {
                        align-self: center;
                    }
                }
            }
        }

    }

    &:has(.section__body .about-list) {
        .section__header {
            border-bottom: none;
        }
    }

    &__subtitle {
        margin-bottom: fluid-to-laptop(10,16);
    }

    &__actions {
        display: flex;
        flex-direction: column;
    }

    &__title {
        &:not(:last-child){
            margin-bottom: fluid-to-laptop(20,30);
            @include mobile {
                margin-bottom: fluid(4,20);
            }
        }
    }

    &__body {
        &:has(.about-list){
            background-color: var(--color-dark-10);
            padding-bottom: fluid-to-laptop(80,120);
            @include mobile {
                padding-bottom: fluid(50,80);
            }
        }
    }

    &__logo {
        max-width: rem(150);
        @include laptop {
            max-width: rem(120);
        }
        @include mobile-s {
            max-width: rem(60);
            margin-bottom: rem(20);
        }
    }

}