@use '../helpers/' as *;

.summary {

    &--2-cols {
        .summary {

            &__list {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: fluid-to-laptop(20,30);

            }
            
            &__item {
                &--wide {
                    grid-column: -1 / 1;
                    margin-top: rem(20);
                    row-gap: fluid-to-laptop(16,10);
                   
                    @include mobile {
                        margin-top: rem(10);
                    }
                }
            }

        }
    }
    &__list {
        display: flex;
        column-gap: fluid-to-laptop(30,50);
        @include mobile {
            column-gap: fluid(20,30);
        }
    }

    &__value {
        color: var(--color-white);
    }

    &__key {
        color: var(--color-gray-60);
    }

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: fluid-to-laptop(2,4);
    }
}