@use '../helpers/' as *;

.video-player {
    position: relative;
    border-radius: fluid-to-laptop(10,12);
    overflow: hidden;

    &::after {
            position: absolute;
            inset: 0;
            content: '';
            z-index: 1;
            background-image: linear-gradient(180deg, rgba(20, 20, 20, 0.00) 44.27%, #141414 100%);
            pointer-events: none;
    }
    
    &.is-playing::after {
        display: none;
    }

    &__video {
        object-fit: cover;
        width: 100%;
        height: fluid-to-laptop(330,412);
        position: relative;
        z-index: 0;
        @include laptop {
            height: fluid(210,330);
        }
    }



    &__panel {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: rem(30);
        transition-duration: var(--transition-duration);
        z-index: 2;

        &:not(.is-active){
            @include hide;
        }

 
    }

    &__play-button {
        @include reset-button;
        color: var(--color-white);
        @include square(fluid-to-laptop(50,70));
        @include flex-center;
        @include hover {
            color: var(--color-accent);
        }
    }
    
}