@use 'sass:math';
$base-font-size: 16;

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, $base-font-size) * 1rem;
  } @else {
    @error 'Do NOT use units of measurement when working with the rem() function! Pass only numbers as arguments.'
  }
}

@function fluid($min: 16, $max: 48) {
  $maxViewportWidth: 1440;
  $minViewportWidth: 390;
  
  $maxSize: math.div($max, $base-font-size);
  $minSize: math.div($min, $base-font-size);
  $maxWidth: math.div($maxViewportWidth, $base-font-size);
  $minWidth: math.div($minViewportWidth, $base-font-size);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}

@function fluid-to-laptop($min: 16, $max: 48) {
  $maxViewportWidth: 1920;
  $minViewportWidth: 1440;
  
  $maxSize: math.div($max, $base-font-size);
  $minSize: math.div($min, $base-font-size);
  $maxWidth: math.div($maxViewportWidth, $base-font-size);
  $minWidth: math.div($minViewportWidth, $base-font-size);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}